<div class="user-details">
  <h1> Latest Posts </h1>
</div>

<style>
/* unvisited link */
a:link {
    color: slateGray;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: black;
}
/* .box{
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #333;
} */
</style>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> A Particle Hunter's Diary: Curiosities and Quest for Survival </h3>
    <!-- <ul>
      <li> <a class="link" href="{{site.posts[0].url}}">{{site.posts[0].title}}</a></li>
    </ul> -->
      {% for item in site.posts limit:2 %}
          <a class="link" href="{{item.url}}">{{item.title}}</a>
          <p></p>
      {% endfor %}

        <p> Currently looking for opportunities to contribute to Collider Physics projects. I write about stuff that interests me. </p>
      <!-- <p> I'm a Physics PhD student working with a bunch of cool people who are operating the biggest microscope on Earth. I'm documenting what we see, the tools we used to see them. Occasionally I'll talk about football(soccer) and life/work optimizers. </p> -->
    <!-- <a class="project-link" href="archives.html">Older Posts</a> -->
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <!-- <div class="contents-right">
    <h3> Featured Projects </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div> -->
</div>
