---
layout: basic
---
{% include mathjax.html %}
<article class="">
  <body>
      <br><br><br><br>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="page-content">
                    <div class="wrapper">
                        <h1 style="font-weight: 700;">{{ page.title }}</h1>
                        <p><i>{{ page.date | date: "%b %-d, %Y" }}</i></p>
                      {{ content }}
                    </div>
                  </div>
              </div>
          </div>
      </div>

      <br><br>
      <div class="container text-center">
          <a class="btn btn-primary btn-xl page-scroll" href="{{ site.url }}#blog">Back to Home</a>
      </div>
      <br><br><br>
  <div class="post-content container"  itemprop="articleBody" style="padding-left: 50px;">
    <h1> {{ page.title}}   <a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a></h1>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {{ content }}
  </div>
</article>
